<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>

    <add name="iranfilmportConnectionString" connectionString="Data Source=89.32.250.224,1433;Initial Catalog=ifpdb;User ID=IFPDB;Password=UgjYVKKZfuw5;" />
    <add name="DesktopConnectionString" connectionString="Data Source=89.32.250.224,1433;Initial Catalog=desktopdb;User ID=desktop2021;Password=paektz4sgynoidfjvlwx;" providerName="System.Data.SqlClient" />
    <add name="IFP.My.MySettings.desktopDBConnectionString" connectionString="Data Source=89.32.250.224,1433;Initial Catalog=desktopdb;User ID=desktop2021;Password=paektz4sgynoidfjvlwx;" providerName="System.Data.SqlClient" />

    <!--<add name="gohBokhor"
      connectionString="Data Source=89.32.251.8,9992;Initial Catalog=IFPDB;Persist Security Info=True;User ID=IFPusr;Password=7zd$1lH0"
      providerName="System.Data.SqlClient" />-->


  </connectionStrings>
</configuration>